@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Brand */
  --color-brand: #3b82f6;
  --color-brand-foreground: #561ff2;

  /* Surfaces */
  --color-background: #f4f4f9;
  --color-secondary: #fafbfe;
  --color-hover-dark: #f3f4f6;
  --color-card-hover-blue: #f7f4fd;

  /* Typography */
  --color-foreground: #501fef;
  --color-muted-foreground: #5b6e90;

  /* Components */
  --background-image-hero-gradient: linear-gradient(90deg, #6366f1, #f43f5e);
  --color-card: #fff;

  /* Fonts */
  --font-roboto: "Roboto", sans-serif;
}

.roboto-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
  "width" 100;
}